<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Backoffice</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/js/bootstrap.js">
    <link rel="stylesheet" href="/static/assets/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    
    <link rel="stylesheet" href="/static/assets/css/nav.css">
    <link rel="stylesheet" href="/static/assets/js/nav.js">


</head>
<body>  
    <%if(locals.message){%>
        <p class="message"><%=message%></p> 
    <%}%>
    <div class="container">
        <div class="row">
             <%- include('./templates/header.ejs');%>

        </div>
        <div class="row" id="liste">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="content">
               
                <h2 class="headerText">Ajouter trajet</h2> <br>

                    <form action="/ajout_trajet" method="post">
                        <label class="form-label">Départ</label>
                        <div class="row" id="form-row">
                            <div class="mb-3">
                            <label class="form-label">Date</label>
                                <input type="date" name="[date_depart]" class="form-control" >
                            </div>
                            <div class="mb-3">
                            <label class="form-label">Heure</label>
                                <input type="time" name="[heure_depart]" class="form-control">
                            </div>
                            <div class="mb-3">
                            <label class="form-label">Lieu</label>
                            <input type="text" name="[lieu_depart]" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Kilometrage</label>
                                <input type="text" name="[kilometrage_depart]" class="form-control">
                            </div>
                        </div>
                        <label class="form-label">Arrivé</label>
                        <div class="row" id="form-row">
                        
                            <div class="mb-3">
                                <label class="form-label">Date</label>
                                    <input type="date" name="[date_arrive]" class="form-control" >
                                </div>
                                <div class="mb-3">
                                <label class="form-label">Heure</label>
                                    <input type="time" name="[heure_arrive]" class="form-control">
                                </div>
                            <div class="mb-3">
                                <label class="form-label">Lieu</label>
                                <input type="text" name="[lieu_arrive]" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Kilometrage</label>
                                <input type="text" name="[kilometrage_arrive]" class="form-control">
                            </div>
                        </div>
                        <label class="form-label">Carburant</label>
                        <div class="row" id="form-row">
                       
                            <div class="mb-3">
                                <label class="form-label">Montant</label>
                                <input type="text" name="[montant_carburant]" class="form-control" placeholder="... AR">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Litres</label>
                                <input type="text" name="[litre_carburant]" class="form-control" placeholder="... l">
                            </div>
                        
                           
                        </div>
                        <div class="mb-3 pt-2">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                      </form>
                </div>
                
            


            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row"></div>

    </div>
</body>
</html>