<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Backoffice</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/js/bootstrap.js">
    <link rel="stylesheet" href="/static/assets/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/assets/css/style.css">

</head>
<body>  
    <%if(locals.message){%>
        <p class="message"><%=message%></p> 
    <%}%>
    <div class="container">
     
        <div class="row" id="liste">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="content">
               
                <h2 class="headerText">Ajouter échéance</h2> <br>

                    <form action="/ajout_echeance" method="post">
                        <div class="mb-3">
                         
                                <select name="[id_vehicule]" class="form-control">
                                    <%vehicules.forEach(vehicule => {  %>
                                        <option value=""><%=vehicule.dataValues.marque%></option>
                                    <% })%>
                                </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Type</label>

                            <select name="[type]" class="form-control">
                                <option value="Assurance">Assurance</option>
                                <option value="Visite">Visite Technique</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Date Ajout</label>
                            <input type="date" name="[date_ajout]" class="form-control" placeholder="XXXX ABC">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Date Expiration</label>
                            <input type="date" name="[date_expiration]" class="form-control" placeholder="XXXX ABC">
                        </div>
                        <div class="mb-3 pt-2">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                      </form>
                </div>
                
            


            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row"></div>

    </div>
</body>
</html>