<ul class="nav">
   
    <li class="nav-item">
      <a class="nav-link active"  href="/vers_liste_echeance">Situation écheance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/vers_ajout_trajet">Ajout trajet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/vers_ajout_echeance">Ajout échéance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/deco_frontoffice">Deconnexion</a>
    </li>
  </ul>