<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/vers_ajout_trajet">Ajout trajet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/vers_ajout_echeance">Ajout écheance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>