h1,h2,h3,h4,h5,h6,p,a{
    font-family: Fira Code;
}
/* body{
    height: 100vh;
} */
.container{
    height: 1200px;
}
#content{
    margin-top: 5%;
}
.headerText{
    font-size: 20px;
    font-weight: 800;
}
#ajout{
    padding: 2%;
}
#form-row{
    margin-left: 5%;
    padding: 2%;
}
.message{
    font-size: 1.6vw;
    text-align: center;
    color: green;
    font-weight: 600;
    border-bottom: 2px solid;
}
#liste{
    margin-top: 5%;
    padding: 1%;
}